body {
  font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Oswald', sans-serif;
}

.filter {
  position: relative;
  border-top: 1px solid #b8c2cc;
  border-right: 1px solid #b8c2cc;
  border-left: 1px solid #b8c2cc;
}

.filter svg {
  position: absolute;
  top: 50%;
  right: 0.5rem;
  transform: translateY(-50%);

  width: 1rem;
  height: 1rem;
}

.filter:first-child {
  border-right: 0;
}

.filter:hover svg {
  transform: rotate(180deg) translateY(50%);
}

.filter:hover .filter__items {
  max-height: 20rem;
  transition: max-height 350ms;
}

.filter__items {
  top: 100%;
  right: -2px;
  left: -2px;
  max-height: 0;
  transition: max-height 150ms;
  overflow: hidden;
  border-right: 1px solid #b8c2cc;
  border-bottom: 1px solid #b8c2cc;
  border-left: 1px solid #b8c2cc;
  cursor: pointer;
}

.feed {
  column-count: 1;
  column-gap: 0;
}

@media (min-width: 600px) {
  .feed {
    column-count: 2;
  }
}

@media (min-width: 900px) {
  .feed {
    column-count: 3;
  }
}

@media (min-width: 1200px) {
  .feed {
    column-count: 4;
  }
}

.feed-item {
  display: flex;
}

.feed-item__img {
  width: 100%;
  height: auto;
}

.feed-item__type {
  top: -0.4rem;
  left: 1rem;
}

.loader {
  height: 200px;
  width: 50%;
  margin: auto;
}

.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: 50% 50%;

  border-width: 3px;
  border-style: solid;
  border-color: transparent;
  border-top-color: #4e5bc0;

  border-radius: 50%;
}

.loader:before {
  height: 65px;
  width: 65px;
  animation: loaderBorder-slow 2s infinite;
  -webkit-animation: loaderBorder-slow 2s infinite;
}

.loader:after {
  height: 45px;
  width: 45px;
  animation: loaderBorder-fast 2s infinite;
  -webkit-animation: loaderBorder-fast 2s infinite;
}

.loader__inner:before,
.loader__inner:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: 50% 50%;

  border-width: 3px;
  border-style: solid;
  border-color: transparent;
  border-top-color: #1e84da;

  border-radius: 50%;
}

.loader__inner:after {
  height: 75px;
  width: 75px;
  animation: loaderBorder 2s infinite;
  -webkit-animation: loaderBorder 2s infinite;
}

.loader__inner:before {
  height: 55px;
  width: 55px;
  animation: loaderBorder-medium 2s infinite;
  -webkit-animation: loaderBorder-medium 2s infinite;
}

@keyframes loaderBorder {
	0% {
		transform: translate(-50%, -50%) rotate(0deg);
	}

	100% {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}

@-webkit-keyframes loaderBorder {
	0% {
		transform: translate(-50%, -50%) rotate(0deg);
	}

	100% {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}

@keyframes loaderBorder-slow {
	0% {
		transform: translate(-50%, -50%) rotate(0deg);
	}

	75% {
		transform: translate(-50%, -50%) rotate(360deg);
	}

	100% {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}

@-webkit-keyframes loaderBorder-slow {
	0% {
		transform: translate(-50%, -50%) rotate(0deg);
	}

	75% {
		transform: translate(-50%, -50%) rotate(360deg);
	}

	100% {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}

@keyframes loaderBorder-medium {
	0% {
		transform: translate(-50%, -50%) rotate(0deg);
	}

	66% {
		transform: translate(-50%, -50%) rotate(360deg);
	}

	100% {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}

@-webkit-keyframes loaderBorder-medium {
	0% {
		transform: translate(-50%, -50%) rotate(0deg);
	}

	66% {
		transform: translate(-50%, -50%) rotate(360deg);
	}

	100% {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}

@keyframes loaderBorder-fast {
	0% {
		transform: translate(-50%, -50%) rotate(0deg);
	}

	50% {
		transform: translate(-50%, -50%) rotate(360deg);
	}

	100% {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}

@-webkit-keyframes loaderBorder-fast {
	0% {
		transform: translate(-50%, -50%) rotate(0deg);
	}

	50% {
		transform: translate(-50%, -50%) rotate(360deg);
	}

	100% {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}


@keyframes loaderBorder-fast {
	0% {
		transform: translate(-50%, -50%) rotate(0deg);
	}

	50% {
		transform: translate(-50%, -50%) rotate(360deg);
	}

	100% {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}

@-webkit-keyframes loaderBorder-fast {
	0% {
		transform: translate(-50%, -50%) rotate(0deg);
	}

	50% {
		transform: translate(-50%, -50%) rotate(360deg);
	}

	100% {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}
